{% extends "base_moderate.html" %}
{% block title %}{{ object.title}}{% endblock title %}
{% block content %}
<div class="container">
    <h3 class="title">{{ object.title}}</h3>
    <div class="well well-sm">
        {{ object.description|safe}}
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Usuario</div>
        <div class="panel-body">
            {{ object.owner }}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">Etiquetas</div>
        <div>
            {% for tag in object.tags.all %}
               <span>{{ tag.name }}</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}
